// Varables

$website-width: 1280px;
$main-color: #23ac8d;
$secondary-color: #9ee0f0;
$light-color: #f4f4f4;
$medium-color: #444;
$dark-color: #333;
$main-darker: #2e907a;
$secondary-darker: #7eb3c0;
$bg-image: url("../img/showcase.jpg");

// set text color
@function set-text-color($color) {
  @if (lichtness($color) > 50) {
    @return #444;
  } @else {
    @return #fff;
  }
}
